@media (min-width: 786px) {
  /* .interactive-image {
    position: relative;
  } */
  .interactive {
    position: relative;
  }
  .interactive-text {
    position: absolute;
    width: 700px;
    top: 150px;
    right: 100px;
    background-color: white;
    padding: 50px;
  }

  .creations-desktop {
    margin-top: 100px;
  }
}
