ul {
  list-style-type: none;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.4s ease-in;
  display: flex;
  justify-content: center;
}
ul li a:hover::after {
  width: 50%;
  display: flex;
  justify-content: center;
}

ul li a:hover {
  color: white;
}
.nav-btn {
  background-color: var(--soft-red);
  color: white;
  border: none;
  text-transform: uppercase;
}

.nav-btn:hover {
  color: var(--soft-red);
  background-color: inherit;
  border: 1px solid var(--soft-red);
}

.logo {
  width: auto;
  height: 40px;
}

.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.4s ease-in;
  display: flex;
  justify-content: center;
}

.nav-item a:hover::after {
  width: 25%;
  display: flex;
  justify-content: center;
}
