.offcanvas-header {
  background-color: black;
}

.logo {
  width: 100%;
  height: 25px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-content: flex-start;
  background-color: var(--black);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.offcanvas-item a {
  display: inline;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  flex-shrink: inherit;
}

.offcanvas-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.4s ease-in;
  display: flex;
  justify-content: center;
}

.offcanvas-item a:hover::after {
  width: 25%;
  display: flex;
  justify-content: center;
}
.hamb {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.hamb:hover {
  background-color: transparent;
}

.hamb:hover::after {
  background-color: transparent;
  border: none;
}

.btn-close {
  color: white;
}
